.header-section {
  background-image: url(../images/bg-hero-mobile.svg);
  background-color: #ebfbff;
  overflow-x: hidden;
  height: 1500px;
}

.grid-header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 15%;
  margin-left: 8%;
  position: relative;
  bottom: -8%;
}

.button-header {
  width: 240px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 18pt;
  text-shadow: 1px 1px 1px #000;
  outline: none;
}
.button-header:hover {
  background-color: #ff52bf;
  color: #fff;
  text-shadow: 1px 1px 1px #fff;
  cursor: pointer;
}

.header-content {
  margin-top: 25%;
  text-align: center;
}

.header-content p {
  font-size: 28pt;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.header-tittle {
  font-family: "Poppins", sans-serif;
  font-size: 48pt;
}

.second-button {
  width: 570px;
  height: 90px;
  border-radius: 50px;
  background-color: #ff52bf;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 22pt;
  outline: none;
}
.second-button:hover {
  background-color: #00252e;
  cursor: pointer;
}

.second-button2 {
  width: 500px;
  height: 90px;
  border-radius: 50px;
  background-color: #ff52bf;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 22pt;
  outline: none;
  margin-top: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.second-button2:hover {
  background-color: #00252e;
  cursor: pointer;
}

.header-image img {
  max-width: 700px;
  width: auto;
}

.main-img {
  max-width: 500px;
  width: auto;
  margin-top: 15%;
}

.card-box {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height: 1050px;
  margin-left: 5%;
  margin-bottom: 10%;
  border-radius: 30px;
}

.card-tittle {
  font-family: "Poppins", sans-serif;
  font-size: 36pt;
  font-weight: 600;
  margin-top: 10%;
  line-height: 1.5;
}

.card-content {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 28pt;
  color: grey;
}

.card-footer {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height: 430px;
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: -15%;
  border-radius: 30px;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.footer-tittle {
  font-family: "Poppins", sans-serif;
  font-size: 32pt;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0.5px #000;
  position: relative;
  bottom: -25%;
}

.footer {
  background-color: #00252e;
  height: 2000px;
}

.footer-img {
  max-width: 400px;
  width: auto;
  margin-top: 35%;
  margin-left: 3%;
}

.content-footer {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 34pt;
  font-weight: lighter;
  margin-left: 5%;
}

.lista-footer {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 32pt;
}

.lista-footer a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.lista-footer a:hover {
  color: #ff52bf;
  cursor: pointer;
}

.social-media {
  margin-top: 13%;
  margin-left: 27%;
  display: grid;
  grid-template-columns: 13% 13% 13%;
  grid-column-gap: 7%;
}

.circle {
  margin-left: 5%;
  border: 3px solid #fff;
  border-radius: 50px;
  width: 95px;
  height: 95px;
  text-align: center;
}
.circle:hover {
  background-color: #ff52bf;
  border: 3px solid #ff52bf;
  cursor: pointer;
}

.last-div {
  margin-top: 7%;
  text-align: center;
}

.last-content {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 24pt;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
