// Colors
$pinkColor: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayBlue: hsl(208, 11%, 55%);

// fonts
$tittleFont: 'Poppins', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

// Tamanhos

@mixin mobile {
  @media (min-width: 0px) and (max-width: 440px) {@content;}
}

@mixin desktop() {
  @media (min-width: 441px) and (max-width: 1800px) {@content;}
}

// Mixins
@mixin headerSection($bgImg) {
  background-image: $bgImg;
  background-repeat: space;
  background-color: $paleCyan;
  overflow-x: hidden;
  height: auto;
  max-width: 100%;
}

@mixin headerLogo {
  max-width: 120px;
  width: auto;
  margin-top: 3%;
}

@mixin headerLogoDesktop {
  max-width: 180px;
  width: auto;
  margin-top: 1%;
}

@mixin gridHeader($marginTopGridHeader, $columnGap) {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: $columnGap;
  margin-left: 5%;
  position: relative;
  bottom: -3%;
  margin-top: $marginTopGridHeader;
}

@mixin buttonHeader($widthButtonHeader, $heightButtonHeader) {
  width: $widthButtonHeader;
  height: $heightButtonHeader;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  color: $darkCyan;
  font-weight: bold;
  font-family: $bodyFont;
  font-size: 10pt;
  border-color: transparent;
  outline: none;
  &:hover{
    background-color: $pinkColor;
    color: #fff;
    cursor: pointer;
  }
}

@mixin gridDesktop {
  display: grid;
  grid-template-columns: 50% 50%;
}

@mixin headerContent {
  margin-top: 17%;
  text-align: center;
}

@mixin headerContentDesktop {
  margin-top: 18%;
  margin-left: 10%;
}

@mixin headerTittle($fontSizeHeaderTittle) {
  font-family: $tittleFont;
  font-size: $fontSizeHeaderTittle;
  line-height: 1.5;
  color: $darkCyan;
}

@mixin headerContentP {
  font-size: 11pt;
  font-family: $bodyFont;
  text-align: center;
  color: $darkCyan;
  line-height: 1.5;
}

@mixin headerContentPDesktop {
  font-size: 13pt;
  font-family: $bodyFont;
  color: $darkCyan;
  line-height: 1.5;
}

@mixin secondButton($widthSecondButton, $heightSecondButton) {
  width: $widthSecondButton;
  height: $heightSecondButton;
  border-radius: 50px;
  background-color: $pinkColor;
  color: #fff;
  font-family: $bodyFont;
  font-weight: bold;
  font-size: 10pt;
  border-color: transparent;
  outline: none;
  &:hover{
    background-color: $darkCyan;
    cursor: pointer;
  }
}

@mixin headerImg($mWidthHeaderImg) {
  max-width: $mWidthHeaderImg;
  width: auto;
}

@mixin cardBox($widthCardBox, $marginLeftCardBox) {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: $widthCardBox;
  height: auto;
  margin-left: $marginLeftCardBox;
  margin-bottom: 10%;
  border-radius: 30px;
}

@mixin mainImg {
  max-width: 80%;
  width: auto;
  margin-top: 15%;
}

@mixin mainImgDesktop {
  max-width: 80%;
  width: auto;
  margin-top: -2%;
}

@mixin gridCardDesktop {
  display: grid;
  grid-template-columns: 50% 50%;
}

@mixin cardPositionDesktop {
  position: relative;
  right: 100%;
}

@mixin cardTittle($marginTopCardTittle, $fontSizeCardTittle) {
  font-family: $tittleFont;
  font-size: $fontSizeCardTittle;
  font-weight: 600;
  margin-top: $marginTopCardTittle;
  line-height: 1.5;
}

@mixin cardContent($fontSizeCardContent) {
  font-family: $bodyFont;
  font-weight: lighter;
  font-size: $fontSizeCardContent;
  color: grey;
}

@mixin cardFooter {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height: 185px;
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: -15%;
  border-radius: 30px;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

@mixin footerTittle {
  font-family: $tittleFont;
  font-size: 15pt;
  font-weight: bold;
  position: relative;
  bottom: -25%;
  color: $darkCyan;
}

@mixin footerImg {
  max-width: 190px;
  width: auto;
  margin-top: 35%;
  margin-left: 3%;
}

@mixin contentFooter {
  color: #fff;
  font-family: $bodyFont;
  font-size: 13pt;
  font-weight: lighter;
  margin-left: 5%;
}

@mixin iconAbout {
  margin-top: 7%;
  margin-left: 3%;
}

@mixin iconesFooter {
  width: 15px;
}

@mixin listaFooter {
  list-style: none;
  font-family: $bodyFont;
  font-size: 16pt;
  margin-left: -6%;
}

@mixin linkList {
  text-decoration: none;
  font-family: $bodyFont;
  color: #fff;
  &:hover{
    color: $pinkColor;
    cursor: pointer;
  }
}

@mixin socialMedia {
  margin-top: 13%;
  margin-left: 27%;
  display: grid;
  grid-template-columns: 13% 13% 13%;
  grid-column-gap: 10%;
}

@mixin circleSpan {
  margin-left: 3.5%;
  border: 1px solid #fff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  &:hover{
    background-color: $pinkColor;
    border: 1px solid $pinkColor;
    cursor: pointer;
  }
}

@mixin lastDiv {
  margin-top: 18%;
  text-align: center;
}

@mixin lastContent {
  font-family: $bodyFont;
  font-weight: lighter;
  font-size: 10pt;
  color: #fff;
}

// Includes
@include mobile{
  .header-section { @include headerSection(url(../images/bg-hero-mobile.svg)); }
  .grid-header { @include gridHeader(7%, 12%); }
  .button-header { @include buttonHeader(110px, 30px); }
  .header-content { @include headerContent; }
  .header-content p { @include headerContentP; }
  #header-content-desktop { display: none; }
  .header-tittle { @include headerTittle(18pt); }
  .second-button { @include secondButton(65%, 40px); }
  .second-button2 { @include secondButton(55%, 40px); margin-top: 15%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  .logo img { @include headerLogo; }
  .header-image img { @include headerImg(80%); }
  .main-img { @include mainImg; }
  .card-box { @include cardBox(90%, 5%); }
  .card-tittle { @include cardTittle(10%, 16pt); }
  .card-content { @include cardContent(11pt); }
  #card-content-desktop { display: none;}
  #card-tittle-desktop { display: none;}
  .card-footer { @include cardFooter; }
  .footer-tittle { @include footerTittle; }
  .icons-about { @include iconAbout; }
  .icones-footer { @include iconesFooter; }
  .footer{ background-color: $darkCyan; height: auto;}
  .footer-img { @include footerImg; }
  .content-footer { @include contentFooter; }
  .lista-footer { @include listaFooter; }
  .links-huddle { margin-top: 10%;}
  .lista-footer a { @include linkList; }
  .social-media { @include socialMedia; }
  .circle { @include circleSpan; }
  .last-div { @include lastDiv; }
  .last-content { @include lastContent; }
}

@include desktop{
  .header-section { @include headerSection(url(../images/bg-hero-desktop.svg)); }
  .grid-header { @include gridHeader(3%, 27%); }
  .button-header { @include buttonHeader(175px, 40px); }
  .logo img { @include headerLogoDesktop; }
  .grid-desktop { @include gridDesktop; }
  .header-content { @include headerContentDesktop; }
  .header-image img { @include headerImg(85%); margin-left: -22%; margin-top: -10%;}
  .header-tittle { @include headerTittle(30pt); }
  .header-content p { @include headerContentPDesktop; }
  #header-content-mobile { display: none; }
  .second-button { @include secondButton(40%, 50px); }
  .card-box { @include cardBox(80%, 10%); }
  .main-img { @include mainImgDesktop; }
  .grid-card-desktop { @include gridCardDesktop; }
  .card-position-desktop { @include cardPositionDesktop; }
  .img-desktop-right { position: relative; left: 100%;}
  .card-tittle { @include cardTittle(20%, 18pt);}
  .card-content { @include cardContent(12pt); text-align: justify; line-height: 1.5;}
  #card-content-mobile { display: none;}
  #card-tittle-mobile { display: none;}
}
