// Colors
$pinkColor: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayBlue: hsl(208, 11%, 55%);

// fonts
$tittleFont: 'Poppins', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

// Tamanhos

@mixin mobile {
  @media (min-width: 0px) and (max-width: 440px) {@content;}
}

@mixin desktop() {
  @media (min-width: 441px) and (max-width: 1440px) {@content;}
}

// Mixins
@mixin headerSection {
  background-image: url(../images/bg-hero-mobile.svg);
  background-color: $paleCyan;
  overflow-x: hidden;
  height: 780px;
  max-width: 100%;
}

@mixin headerLogo {
  max-width: 120px;
  width: auto;
  margin-top: 3%;
}

@mixin gridHeader {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 15%;
  margin-left: 5%;
  position: relative;
  bottom: -3%;
}

@mixin buttonHeader {
  width: 110px;
  height: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  color: $darkCyan;
  font-weight: bold;
  font-family: $bodyFont;
  font-size: 10pt;
  outline: none;
  &:hover{
    background-color: $pinkColor;
    color: #fff;
    cursor: pointer;
  }
}

@mixin headerContent {
  margin-top: 30%;
  text-align: center;
}

@mixin headerTittle {
  font-family: $tittleFont;
  font-size: 20pt;
  line-height: 1.5;
  color: $darkCyan;
}

@mixin headerContentP {
  font-size: 13pt;
  font-family: $bodyFont;
  text-align: center;
  color: $darkCyan;
  line-height: 1.5;
}

@mixin secondButton($widthSecondButton) {
  width: $widthSecondButton;
  height: 40px;
  border-radius: 50px;
  background-color: $pinkColor;
  color: #fff;
  font-family: $bodyFont;
  font-weight: bold;
  font-size: 10pt;
  outline: none;
  &:hover{
    background-color: $darkCyan;
    cursor: pointer;
  }
}

@mixin headerImg {
  max-width: 80%;
  width: auto;
}

@mixin cardBox {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height: 520px;
  margin-left: 5%;
  margin-bottom: 10%;
  border-radius: 30px;
}

@mixin mainImg {
  max-width: 300px;
  width: auto;
  margin-top: 15%;
}

@mixin cardTittle {
  font-family: $tittleFont;
  font-size: 18pt;
  font-weight: 600;
  margin-top: 10%;
  line-height: 1.5;
}

@mixin cardContent {
  font-family: $bodyFont;
  font-weight: lighter;
  font-size: 12pt;
  color: grey;
}

@mixin cardFooter {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height: 185px;
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: -15%;
  border-radius: 30px;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

@mixin footerTittle {
  font-family: $tittleFont;
  font-size: 15pt;
  font-weight: bold;
  position: relative;
  bottom: -25%;
  color: $darkCyan;
}

@mixin footerImg {
  max-width: 190px;
  width: auto;
  margin-top: 35%;
  margin-left: 3%;
}

@mixin contentFooter {
  color: #fff;
  font-family: $bodyFont;
  font-size: 13pt;
  font-weight: lighter;
  margin-left: 5%;
}

@mixin iconAbout {
  margin-top: 7%;
  margin-left: 3%;
}

@mixin iconesFooter {
  width: 15px;
}

@mixin listaFooter {
  list-style: none;
  font-family: $bodyFont;
  font-size: 16pt;
  margin-left: -6%;
}

@mixin linkList {
  text-decoration: none;
  font-family: $bodyFont;
  color: #fff;
  &:hover{
    color: $pinkColor;
    cursor: pointer;
  }
}

@mixin socialMedia {
  margin-top: 13%;
  margin-left: 27%;
  display: grid;
  grid-template-columns: 13% 13% 13%;
  grid-column-gap: 10%;
}

@mixin circleSpan {
  margin-left: 5%;
  border: 1px solid #fff;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  &:hover{
    background-color: $pinkColor;
    border: 1px solid $pinkColor;
    cursor: pointer;
  }
}

@mixin lastDiv {
  margin-top: 10%;
  text-align: center;
}

@mixin lastContent {
  font-family: $bodyFont;
  font-weight: lighter;
  font-size: 10pt;
  color: #fff;
}

// Includes

  .header-section { @include headerSection; }
  .grid-header { @include gridHeader; }
  .button-header { @include buttonHeader; }
  .header-content { @include headerContent; }
  .header-content p { @include headerContentP; }
  .header-tittle { @include headerTittle; }
  .second-button { @include secondButton(65%); }
  .second-button2 { @include secondButton(55%); margin-top: 15%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  .logo img { @include headerLogo; }
  .header-image img { @include headerImg; }
  .main-img { @include mainImg; }
  .card-box { @include cardBox; }
  .card-tittle { @include cardTittle; }
  .card-content { @include cardContent; }
  .card-footer { @include cardFooter; }
  .footer-tittle { @include footerTittle; }
  .icons-about { @include iconAbout; }
  .icones-footer { @include iconesFooter; }
  .footer{ background-color: $darkCyan; height: 900px;}
  .footer-img { @include footerImg; }
  .content-footer { @include contentFooter; }
  .lista-footer { @include listaFooter; }
  .links-huddle { margin-top: 10%;}
  .lista-footer a { @include linkList; }
  .social-media { @include socialMedia; }
  .circle { @include circleSpan; }
  .last-div { @include lastDiv; }
  .last-content { @include lastContent; }
